# MySQL configuration
DB_ROOT_PASSWORD=changeme-root
DB_NAME=fleet_management
DB_USER=fleet_user
DB_PASSWORD=changeme-password
JWT_SECRET=changeme-jwt-secret
APP_ENV=development
PASS_BCYPT_HASH=$2a$10$UuOZngE8ZbNRGda0nscfION7Lu1QBkHRxVcbP41l.Oy4567MD1izW

